<div class="person-list">
  <mat-accordion>
    <!--Each person has an expansion panel of their own-->
    <mat-expansion-panel *ngFor="let person of peopleService.people | async">
      <mat-expansion-panel-header>
        {{person.displayName}} - {{person.key}}
      </mat-expansion-panel-header>
      <app-edit-person-form [subject]='person'></app-edit-person-form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Add Person
      </mat-expansion-panel-header>
      <app-edit-person-form></app-edit-person-form>
    </mat-expansion-panel>
  </mat-accordion>
  <!--<div *ngIf="(peopleService.people | async)?.length == 0">No records found</div>-->
  <!--<button mat-raised-button routerLink="/settings/new">Create new person</button>-->
  <router-outlet></router-outlet>
</div>

