<div class="dashboard-card">
  <div>
      <mat-icon>person</mat-icon>
      <h1>{{child.nameGiven}} - {{id}}</h1>
      <h2>{{child.nameFamily}}</h2>
  </div>
  <div>
    <div fxLayout="row">
      <div>
        <button mat-raised-button *ngFor="let event of getEventList()" (click)="addEvent(event)"
                class="event-button mat-primary">
          <div>{{event.title}}</div>
          <div>[{{event.reward}}]</div>
        </button>

      </div>
      <div *ngIf="events$ | async; let events; else loading">
        <ul>
          <li *ngFor="let event of events">
            {{event.title}} [{{event.reward}}: {{event.subjectId}}]
          </li>
        </ul>
        <div *ngIf="events.length === 0">No events found for today</div>
      </div>
      <ng-template #loading>Loading&hellip;</ng-template>
    </div>
  </div>
</div>

<!--<mat-card class="dashboard-card">-->
  <!--<mat-card-header>-->
    <!--<div mat-card-avatar>-->
    <!--</div>-->
  <!--</mat-card-header>-->

  <!--<mat-card-content class="dashboard-card-content">-->
    <!--<div fxLayout="row">-->
    <!--</div>-->
  <!--</mat-card-content>-->
<!--</mat-card>-->
