<mat-toolbar color="primary">
  <span>{{ title }}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <div *ngIf="afAuth.user | async as user; else showLogin" >
    <button mat-button [matMenuTriggerFor]="menu">{{ user.displayName }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>security</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>


  <ng-template #showLogin>
    <button mat-button (click)="login()">Login with Google</button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>


