<h1>Edit {{subject.displayName}} details:</h1>

<form (ngSubmit)="onSubmit()" #editPersonForm="ngForm">
  <div>
    <mat-form-field>
      <input matInput #nameGiven [(ngModel)]="subject.nameGiven" placeholder="First Name" name="given">
    </mat-form-field>
    <mat-form-field>
      <input matInput #nameFamily [(ngModel)]="subject.nameFamily" placeholder="Last Name" name="last">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput #displayName [(ngModel)]="subject.displayName" placeholder="Display Name" name="display">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="subject.birthdate" [matDatepicker]="picker" placeholder="Birthdate" name="birthdate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="subject.mediaMinutes" placeholder="Default media minutes"
             name="mediaMinutes">
    </mat-form-field>
  </div>

  <div>
    <button type="submit" mat-button [disabled]="!editPersonForm.valid">Submit</button>
    <button type="button" mat-button (click)="editPersonForm.reset()">New Hero</button>
  </div>
</form>


<p>{{subject.displayName}}</p>

<textarea>{{subject | json}}</textarea>
